/* Global Styles */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header img {
  display: inline-block;
  width: 200px;
  height: auto;
}

header nav ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 30px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Product Item Styles */
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

.product-item h3 {
  margin-top: 20px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th, td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

th {
  font-weight: bold;
}

td {
  font-weight: normal;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header nav ul li {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
  }
}
