body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    display: inline-block;
    width: 200px;
    height: auto;
}

header nav ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 30px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
