body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    display: inline-block;
    width: 200px;
    height: auto;
}

header nav ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 30px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 30px;
}
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.team-member h3 {
    margin-top: 20px;
}

.team-member p {
    margin-top: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

